<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html_head">
    <meta charset="UTF-8">
    <title>[[${pageTitle}]] - Money Transfer Easy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/fontawesome/all.css}"/>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
    <div th:fragment="page_menu">
        <nav class="navbar navbar-expand-sm bg-blue navbar-blue">
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="/user">User</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="/transaction">Transaction</a>
                </li>
            </ul>
        </nav>
    </div>
    <div th:fragment="page_content">

    </div>
    <div th:fragment="page_footer" class="center">
       <p>MoneyTransfer - Copyright &copy; 2021</p>
    </div>

</body>
</html>